.heda{
  background-color: darkred !important;
}
.body{
  background-color: lightgray;
}
.navigation{
  text-align: center;
}
.sbar {
  padding-top: 10px;
}
.floater{
  display: inline-block;
}

.heda img{
  height: 50px;
  width: 50px;
}

.business{
  text-align: center;
}

li{
  list-style-type: none;
  text-align: center;
}

.jt-button {
  margin-left: 5px;
}
.well{
  background-color: red;
}
.jumbotron{
  background-color: darkred;
  color: white;
}
