<div classt="container">
  <div class="heda">
    <div class="row">
      <div class="col-md-2">
        <img src="http://karlaspetcare.com/images/257_Yelp_Img.jpg" alt="yelp">
      </div>
       <div class="col-md-4 sbar">
         <input name="some_name" class="form-control" placeholder="tacos, cheap dinner, Max's">
       </div>
       <div class="col-md-4 sbar">
         <input name="some_name" class="form-control" placeholder="Portland, Or"></div>
         <div class="col-md-2 sbar"><button name="button" class="btn glyphicon glyphicon-search floater btn-danger"></button></div>
      </div>
   </div>
   <div class="navigation col-md-12 sbar">
     <nav>
       <a href="#">Home</a>
       <a href="#">About Me</a>
       <a href="#">Write A Review</a>
       <a href="#">Find Friends</a>
       <a href="#">Messages</a>
     </nav>
  </div>
  <br><br><br><br><br><br><br>

  {{outlet}}
</div>
