<div class="container business col-md-12">

    <h2>Business'</h2>
    <ul>
      {{#each model as |business|}}
        {{business-tile business=business}}
      {{/each}}
    </ul>

    {{new-city save="save"}}

    {{new-business save="save"}}


</div>
