<div class="container business col-md-12">

    <h2>Business'</h2>
    <ul>
      {{#each model.business as |business|}}
        {{business-tile business=business}}
      {{/each}}
    </ul>

    {{new-city model=model saveCity="saveCity"}}



</div>
